$background: #3c3345;
$foreground: #f5eff3;
$highlight: #604c60;

$red: #9c6b80;
$lightred: #dc98ac;
$green: #6e916e;
$lightgreen: #96c497;
$yellow: #9c8969;
$lightyellow: #d9bd8f;
$blue: #6582c7;
$lightblue: #98b2fb;
$magenta: #a276b6;
$lightmagenta: #d6ade8;
$cyan: #6698aa;
$lightcyan: #9ccbdd;
$white: #cfc7cd;
$lightwhite: #f5eff3;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "Inconsolata LGC";
}

@import "./common/eww.scss";
@import "./bar/eww.scss";
@import "./cal/eww.scss";
