.bar {
  font-size: 14px;
  background-color: $background;
  color: $foreground;
}

.workspaces {
  margin-right: 6px;

  button {
    padding: 4px 10px;
  }

  button:hover {
    background-color: $highlight;
  }

  .focused {
    background-color: $red;
  }

  .urgent {
    color: $background;
    background-color: $lightcyan;
  }
}

.mode {
  background-color: $highlight;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
}

.revealed {
  margin-right: 12px;
}

.music {
  margin-right: 10px;
}

.volume {
  button {
    margin-right: 6px;
  }

  label {
    margin-right: 6px;
  }

  scale trough {
    min-width: 100px;
  }

  margin-right: 6px;
}

.time {
  padding-right: 8px;
}
