.cal {
  font-size: 14px;
  background-color: $background;
  color: $foreground;
  padding-top: 2px;
  padding-right: 8px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: $red;

  calendar {
    color: $foreground;
    padding: 2px 4px;

    &:selected {
      background-color: $highlight;
      border-radius: 2px;
    }

    &.button {
      color: $lightred;

      &:hover {
        color: $foreground;
      }
    }

    &:indeterminate,
    &:indeterminate:backdrop {
      color: $red;
    }

    &.highlight,
    &.highlight:backdrop {
      font-size: smaller;
      color: $lightred;
    }
  }
}

.calendar_items {
  padding: 4px;
}
