.icon-module {
  label {
    margin-right: 8px;
  }

  margin-right: 12px;
}

.graph-module {
  label {
    margin-left: 4px;
  }

  .graph {
    color: $red;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  margin-right: 12px;
}

scale trough {
  background-color: $background;
  border: 1px $red solid;
  border-radius: 2px;
  min-height: 8px;
  margin-right: 8px;

  highlight {
    background-color: $red;
    min-height: 1px;
    border-radius: 1px;
  }
}

.metric scale trough {
  min-width: 40px;
}

